body {
  background-color: gray;
  /* background-image: url("../resources/background-kupo-of-fortune.jpg"); */
  width: 100%;
}

.materials-div {
    text-align: right;
    width: 100%;
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 5px;
    justify-content: center;
  }

  .header {
    text-align: center;
  }

  .error-div {
    text-align: center;
    display: none;
  }

  .results-div {
    width: 100%;
    text-align: center;
  }

  .info-text-area {
    border-width: 0px;
    resize: none;
    text-align: center;
  }

  .materials-label {
    font-weight: bold;
  }

  .materials-input {
    margin: 1px;
    width: 75px;
    
  }